.label-inline-tb{
    margin-bottom: 0rem !important;
    display: flex !important;
}

.btn-w-20{
    width: 10% !important;
}


@media only screen and (max-width: 768px) {

    .btn-w-20{
        width: 40% !important;
    }
}

.form-check_custom {
    display: block;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;
}


.wrapper {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    background-color: white;
  }